/*
ESTILOS CSS DE HYPERBLOG - ENSAYO
*/


/*--------------------------------
CSS GENERALES
--------------------------------*/
body {
    background-color: goldenrod;
    color: #1b1b1b;
    font-size: 14px;
    padding: 80px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

p, h1, h2, h3, h4, h5, h6 {
    display: block;
    padding: 0px;
    margin: 0px;
}

.main_box {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 48px;
    color: #ffffff;
    font-variant: small-caps;
}

h3 {
    color: rgb(51, 37, 1);
    font-size: 32px;
}

h4 {
    color: rgb(51, 37, 1);
    font-size: 24px;
    text-transform: uppercase;
}

/*--------------------------------
CSS DEL HEAD
--------------------------------*/
.head {
    padding: 30px 50px 30px 50px;
    border-bottom:  #fff 3px solid;
    background-color: rgb(196, 147, 25);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
    header.head h1 {
        padding-bottom: 10px;
    }
    header.head h3 {
        color: #ffffff;
        padding: 5px 5px 5px 10px;
        background: #000;
        width: 290px;
    }

    .logoBox img {
        width: 100%;
        max-width: 75px;
    }


/*--------------------------------
CSS DEL CONTENT
--------------------------------*/
.content_box {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: rgb(61, 45, 5);
}


/*--------------------------------
CSS DEL FOOTER
--------------------------------*/
footer.footerSection {
    background: #000;
    padding: 30px 50px;
    /* width: 100%; */
    color: gainsboro;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-top: 8px solid rgb(61, 45, 5);
    border-bottom: 8px solid rgb(61, 45, 5);
}
    footer .footerTop {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px dotted #1b1b1b;
    }
        .footerTop div {
            width: 30%;
            max-width: 280PX;
            padding: 30px 0px;
        }
            .footerTop div h4 {
                color: #fff;
                padding-bottom: 25px;
                font-weight: 600;
            }
            .footerTop div p {
                text-align: left;
            }
    footer .footerDown {
        padding: 10px 0px;
        text-align: center;
    }